@model IEnumerable<MyProject.Models.CauseTable>
@{
    ViewBag.Title = "Anatomy";
}


<head>


</head>
<html>
@using (Html.BeginForm())
{
    <body style="background-color:pink">





        <div class="col-md-12">
            <center>
                <div class="row">
                    <div class="group">
                        <center><h1>ข้อพับด้านข้างซ้าย</h1> </center>

                        <label class="col-md-5" style="text-align:right;font-size:16px">สาเหตุเกิดจาก</label>
                        <select name="muscle" class="col-md-7" required>
                            <option value="0">---NONE---</option>
                            @foreach (var item in Model)
                            {
                                <option value="@item.ID_Cause">@item.Cause</option>

                            }
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-default">ตรวจสอบอาการ</button>
            </center>
        </div>

    </body>
}
</html>



