@model MyProject.Models.SuggestTable
@{
    ViewBag.Title = "Symptomatic";
}
<head>
    @if (ViewBag.Error != null)
    {

        <script>
                                alert("บันทึกเรียบร้อย");

                                    location.href = '@Url.Action("Index", "Index")';


        </script>

    }
</head>
<html>
<body style="background-color:pink">
    <br /><br /><br /><br />
    <div class="col-md-12">
        <center>
            <label style="font-size:25px ;color:white">อาการที่คาดว่าจะเป็น</label><br /><br />
            <label>@Model.Inflamed</label>
        </center>
    </div>

    <br /><br /><br /><br />

    <div class="col-md-12">
        <center>
            <label style="font-size:25px ;color:white">ปฐมพยาบาลเบื้องต้น</label><br /><br />
            <label>@Model.Suggest</label>
        </center>
    </div>

    <div class="row" style="text-align:center;padding-top:50px">

        <button type="submit" onclick="location.href='@Url.Action("Index", "Index")';" style="background-color:black;color:white ; border-radius:30px ; border:solid #FFffff;font-weight:bolder;width:100px;height:25px;">ตรวจสอบ</button>
    </div>



</body>
</html>


