

<head>
   
</head>
<html>
<body >

    <div align="center" style="padding-top:50px">
       <p style="font-size: 100px ;color:darkturquoise;font-family:'Brush Script MT'">Help Me Piece</p>
        <p style="font-size: 25px ;color:papayawhip;font-family:'SRI SURY WONGSE';font-weight:bolder">อย่าปล่อยให้อาการบาดเจ็บเล็กน้อย กลายเป็นสาเหตุให้เกิดอาการเรื้อรัง</p>
        <br /><br />
        <p style="font-size: 15px ;color:papayawhip;font-family:'SRI SURY WONGSE';font-weight:bolder">เว็บที่จะทำให้คุณสามารถตรวจสอบอาการบาดเจ็บทางกล้ามเนื้อ และยังมีคำแนะนำในการปฐมพยาบาลเบื้องต้น รวมถึงสามารถค้นหาตำแหน่งโรงพยาบาลได้</p>
    </div>
    
    
</body>
</html>
