
@{
    ViewBag.Title = "Index";
}


<head>
   
</head>
<html>
<body style="background-color:pink">

    <div align="center" style="padding-top:50px">
        <img src="~/picture/Anatomydata.png" width="50%" height="50%" onclick="location.href='@Url.Action("Anatomy", "Index")';">
    </div>
    
    
</body>
</html>
