
@{
    ViewBag.Title = "Symptomatic";
}

<html>
<body style="background-color:pink">
    <br /><br /><br /><br />
   <div class="col-md-12">
       <center>
           <label style="font-size:25px ;color:white">อาการที่คาดว่าจะเป็น</label><br /><br />
           <textarea rows="4" cols="80" readonly style="text-align:center">เอ็นกระดูกช้ำ ฉีกขาด</textarea>
       </center>
    </div>

    <br /><br /><br /><br />

    <div class="col-md-12">
        <center>
            <label style="font-size:25px ;color:white">ปฐมพยาบาลเบื้องต้น</label><br /><br />
            <textarea rows="4" cols="80" readonly>พักการใช้งาน โดยการใชไม้เท้าพยุงเดิน พันผ้ายืดประคองเท้าเพื่อป้องกันการบาดเจ็บซำ ประคบด้วยความเย็นหากมีอาการ บวม เมื่ออาการบวมหายแล้วประคบด้วยความร้อน</textarea>
        </center>
    </div>

    <div class="row" style="text-align:center;padding-top:50px">
        
            <button type="submit" onclick="location.href='@Url.Action("Index", "Index")';" style="background-color:black;color:white ; border-radius:30px ; border:solid #FFffff;font-weight:bolder;width:100px;height:25px;">ตรวจสอบ</button>
        </div>
    


</body>
</html>

