


<html>
<body style="background-color:pink">

    <div class="col-md-12" style="padding-top:15px">
        <center>
            <table cellpadding="0">

                <tr>
                    <td>
                        <img src="~/picture/1-ซ้าย.png" height="48%" />

                    </td>

                    <td>
                        <img src="~/picture/1-ขวา.png" height="48%" />

                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="~/picture/2-ซ้าย.png" height="48%" />

                    </td>

                    <td>
                        <img src="~/picture/2-ขวา.png" height="48%" />

                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="~/picture/3-ซ้าย.png" height="48%" />

                    </td>

                    <td>
                        <img src="~/picture/3-ขวา.png" height="48%" />

                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="~/picture/4-ซ้าย.png" height="48%" />

                    </td>

                    <td>
                        <img src="~/picture/4-ขวา.png" height="48%" />

                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="~/picture/5-ซ้าย.png" height="48%" />

                    </td>

                    <td>
                        <img src="~/picture/5-ขวา.png" height="48%" />

                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="~/picture/6-ซ้าย.png" height="48%" />

                    </td>

                    <td>
                        <img src="~/picture/6-ขวา.png" height="48%" />

                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="~/picture/7-ซ้าย.png" height="48%" />

                    </td>

                    <td>
                        <img src="~/picture/7-ขวา.png" height="48%" />

                    </td>
                </tr>




            </table>
        </center>
    </div>


</body>
</html>
