


<html>
<body style="background-color:pink">

    <div align="center" style="padding-top:50px">
        <table cellpadding="0">

            <tr>

                <td>
                    <img src="~/picture/ซีกซ้ายบน.png" height="44%" />

                </td>

                <td>
                    <img src="~/picture/ซีกขวาบน.png" height="44%" />

                </td>

            </tr>


            <tr>
                <td>
                    <img src="~/picture/ซีกซ้ายล่าง.png" height="44%" />

                </td>

                <td>
                    <img src="~/picture/ซีกชวาล่าง.png" height="44%" />

                </td>
            </tr>

        </table>
        </div>


</body>
</html>
